<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City ">
	<meta name="author" content="Christopher Styles Barber Spa">
	<meta charset="utf-8" />
	<title>CAST - Barber Shop Spa - Cuts, Shaves, Hair Color, &amp; MAN-icures - Christopher Styles Barber Spa</title>
			<!-- Bootstrap -->
    <link href="../_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
	<link type="text/css" href="../_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper" class="container">

			{{> header}}
			{{> sub-nav}}
			<div class="contentWrap">
				<section class="castPage">
					<h1>Cast</h1>
					<!-- <h2>The C Styles Family</h2>
					<div class="familyImg"><img src="../_img/CStylesFamily-v2.jpg" title="Christopher Styles Family" alt="Christopher Styles Family" /></div> -->
					<h2>Hairstylist</h2>
					<div class="media">
					  <div class="pull-left sideImg">
					    <img class="media-object" src="../_img/cast_Rob-v3.jpg" title="Hairstylist: Rob" alt="Hairstylist: Rob" />
					  </div>
					  <div class="media-body">
					    <h3 class="media-heading">Rob - Barber</h3>
					    <p>Robert who goes by Rob started his barber career as a hobby. At the age of 15 he decided to pick up a pair of clippers because weekly haircut were to expensive. He started out cutting his own hair in his families hair in the bathroom. Sometimes getting in trouble with mom for leaving hair clippings all over her freshly cleaned bathroom. Within a few years his skills increased and suddenly people in his life started noticing . He began cutting some of his close friends and family members hair for free to further increase his skills. By the age of 18 he felt he was ready to take his new found love for barbering to another level. He enrolled at Western Barber Institute in 2011. Their he sharpened his barbering skills and he graduated barber school after one year. He was now a licensed barber and ready to start his career. He searched and searched for a shop and found his first job at a barbershop  in a shopping center in Reseda. He stayed there for 5 years and he homed his skills as a master barber specializing in razor fades, tappers , straight razor shaves and many other aspects of barbering.</p>
							<p>He prides himself on is great customer service and creating great works of art. His 11 years of experience has paid off and his clients know each and every time they enter they will have a great experience and leave with a great haircut.</p>
							<p>Rob feels like when a client comes in with a picture they both can be on the same page and that will help in getting the best results.</p>
							<p>Fun fact: Rob is an only child, but always wished he had a younger sibling.</p>
					 </div>
					</div> <!-- media END -->
					<div class="media">
						<div class="pull-left sideImg">
							<img class="media-object" src="../_img/cast_Chase-v3.jpg" title="Hairstylist: Chase" alt="Hairstylist: Chase" />
						</div>
						<div class="media-body">
							<h3 class="media-heading">Chase - Barber</h3>
							<p>Charles, although most people call him Chase was born in Cleveland OH. At a young age he was placed into foster care. He spend his younger days in Canton and Massillon, Ohio, there he grow up with four younger brothers and one sister, During the summers and on weekends he and his two younger brothers would help out their next door neighbor Miss Rosa. She would have the boys help her around the house, but mostly they would help her in her rose garden. Some of the boys would pick out the weeds and dead plants. While others would spread fertilizer and help water the flowers. Their pay was always a delicious lunch after a long morning of working outside. Every Christmas she would buy all the kids presents, but the Christmas of 2000 would be one of the most remembered one for Chase. He was 10 years old and Miss Rosa for some reason got him his first pair of clippers. Chase was confused on why she bought him a pair of clippers, but he started to use his clippers on hiself and his younger brothers. Time passed and he started to gain a lot of attention for his hair cuts from family and friends. People could see the natural talent progressing and over time he started cutting not only family and friends, but kids in neighborhood would let the youngster trim them up.</p>
							<p>He relocated to Fort Myers, Florida and while living their his passion for barbering continued. He took a job at a local shop sweeping and cleaning the floors all while soaking up the knowledge from all the experienced barbers. Luck would have it that one of his biological cousins would reach out to him via social media and at the age of 21 he got a chance to meet some of his biological family. He learned a lot about his family and eventually learned that his great grand father was a very popular barber himself for many years. His passion for barbering grew the more he learned about his great grandfather and he knew barbering was in his blood and he wanted to continue the legacy.</p>
							<p>After returning to Ohio, Chase enrolled and graduated from Akron Barber College in Akron OH. His skills as a barber had improved and he was ready to take his family and barbering skills to the West Coast. He relocated to the Los Angeles area in 2016 and has never looked back. He has perfected his skills as a barber and now is embracing a new challenge of being a cosmetologist. He wants to get to know his way around a ladies mane just as well as he has perfected men’s hair cuts.</p>
							<p>In his spare time Chase enjoys, cookouts at the beach with is family, movies, playing basketball, writing poetry, hiking and most importantly spending time with his wife and being a dad to his two kids. Chase prides himself on being a skilled barber for all hair types, but his specialty is African American hair styles. Chase believes that taking care of your scalp is just as important as taking care of your body</p>
					 </div>
					</div> <!-- media END -->
					<div class="media">
						<div class="pull-left sideImg">
							<img class="media-object" src="../_img/cast_Apolonia-v3.jpg" title="Hairstylist: Apolonia" alt="Hairstylist: Apolonia" />
						</div>
						<div class="media-body">
							<h3 class="media-heading">Apolonia - Stylist / Barber</h3>
							<p>A Los Angeles native, Apolonia got her start in 2004 as a cosmetologist  assisting for two and a half years under a master stylist here in Los Angeles. She worked tirelessly to gain a great clientele while continuing to hone her cut and color skills with continuing education. Her desire to get her barber license was a natural progression as her career evolved. With a background in graphic art and passion for hair she has found her happy place behind the chair.<p>
							<p>She loves the outdoors, cooking and spending time with friends.</p>
							<p>Random fact: She makes spicy candied bacon sometimes.</p>
							<p>Hair tip: regular trims help keep the shape and style.</p>
					 </div>
					</div> <!-- media END -->
					<div class="media">
					  <div class="pull-left sideImg">
					    <img class="media-object" src="../_img/cast_EPyles-v3.jpg" title="Hairstylist: Erica Pyles" alt="Hairstylist: Erica Pyles" />
					  </div>
					  <div class="media-body">
					    <h3 class="media-heading">Erica Pyles - Lead Stylist</h3>
					    <p>Erica began her career as a stylist on January 2006 in Oceanside, California. She joined Christopher Styles Barber Spa when it first opened in October of 2012. She now has over ten years of experience but is constantly on the lookout for new and different classes that update and improve her knowledge and techniques on cutting, coloring, and styling. Her love of the trade is based on exercising her creativity and being able to make clients feel good about themselves through it. Aside from men and women's haircuts, some popular requests Erica receives include chemical relaxers and color.<p>
							<p>Erica tackles her workplace challenges with a head on mentality. She lets her clients know when something is possible, when it will work best, and what won't work. Erica is known to be a very active person. She loves paddle boarding, demolishes at bowling, and is known for being up for any outdoorsy adventures. Erica's clients know her to be creative, funny, and reliable. At the shop, we know her to be extremely talented and always on to the next thing!</p>
							<p>Random Fact about Erica: For many years, Erica was gymnast working toward the Olympics but ultimately decided to part ways with the sport and moved on to competitive hip hop dancing.</p>
							<p>Erica's Hair Tip: Lemons can give your  hair a sun kissed natural highlight look without damage.</p>
					 </div>
					</div> <!-- media END -->
					<div class="media">
					  <div class="pull-left sideImg">
					    <img class="media-object" src="../_img/cast_BJones-v3.jpg" title="Hairstylist: Brent Jones" alt="Hairstylist: Brent Jones" />
					  </div>
					  <div class="media-body">
					    <h3 class="media-heading">Brent Jones - Master Barber</h3>
					    <p>When Brent was 10 years old, his mother handed him a pair of clippers. What he did with them garnered the attention of those around him. With his quickly developing cutting skills, Brent decided to enroll at Cutting Edge Hair Styling Academy in Kansas City. When he eventually moved to Los Angeles, his barbering skills caught the eye of Christopher Hird. He soon after joined Christopher Styles Barber Shop.</p>
							<p>Today, Brent is the shop's modern day Renaissance man. He continually exercises his artistic abilities through painting, music, acting, and barbering. When Brent is in the shop, there is always a lively discussion happening at his station. His clients keep him busy and in high demand. He is known for his amazing fades, shaves, and uncanny ability for styling. While you'll likely find Brent laughing and singing around the shop, his hair designs and highly detailed face shaves reveal a talent for focused precision and not to mention a serious work ethic. Brent is constantly rising to new creative challenges and hopes to continue exceeding expectations by giving clients a look they didn't imagine was possible for them.</p>
					</div>
					</div> <!-- media END -->
					<div class="media">
					  <div class="pull-left sideImg">
					    <img class="media-object" src="../_img/cast_LFlores-v3.jpg" title="Hairstylist: Laura Flores" alt="Hairstylist: Laura Flores" />
					  </div>
					  <div class="media-body">
					    <h3 class="media-heading">Laura Flores - Stylist</h3>
					    <p>While Laura is currently the youngest stylist at Christopher Styles Barber Spa, she has been with the shop since its opening in 2012. She has a bountiful knowledge on hair care and styling and constantly sprinkles her clients with helpful hair tips. Among her clients, she is known for her patience and passion for her craft. She loves being able to help her clients feel more confident by transforming their look. Clients frequently request haircuts from the Brad Pitt or David Beckham gallery, but many of her clients eventually choose to trust Laura to provide the haircut that best suits their face shape, hair type, and lifestyle.</p>
							<p>Laura always continues to educate herself by learning and sharing techniques from stylists within and outside of the shop. When she's not in the shop, she likes to relax outdoors and enjoy nature by going on a jog.</p>
							<p>Random Fact: As a child, Laura dreamed to have a pet monkey.</p>
							<p>Laura's Hair Tip: Always use a good quality shampoo and conditioner and rinse with cold water!</p>
					</div>
					</div> <!-- media END -->
					<div class="media">
					  <div class="pull-left sideImg">
					    <img class="media-object" src="../_img/cast_CStyles-v3.jpg" title="Hairstylist: Christopher Styles" alt="Hairstylist: Christopher Styles" />
					  </div>
					  <div class="media-body">
					    <h3 class="media-heading">Christopher Styles - Owner/Barber</h3>
					    <p>Chris started on to something amazing when he was just 14 years old. He enjoyed looking great but didn't have money to go to a barber every week so his mother bought him his first set of clippers. He started cutting his own hair and then his friends' hair. By the time he was 16 he was charging $4 per haircut. Chris's professional barbering career began in 1997 in Pine Bluff, Arkansas when he received his Barber Stylist license. Eventually, Chris relocated to California and after years of perfecting his techniques he decided to integrate his natural business acumen and barbering skills and open Christopher Styles Barber Spa in October of 2012.</p>
							<p>Today, Chris specializes in all men's haircuts and shaves with many of his clients coming in for afros, fades, and straight razor shaves. He loves the fact that he can transform a person right before their eyes within as little as 30 minutes. It's an instant makeover with instant gratification! While clients come to him for his reputation, they return not just because of his proven skills but also because of his relatability and honesty.</p>
							<p>Chris's ambition always keeps him looking ahead. He aspires to one day open another shop and possibly start a product line. He also hopes to mentor young stylist to become salon owners, platform artists, and overall great stylists within the industry.</p>
							<p>Random fact about Chris: He has a snack every night right before going to sleep.</p>
							<p>Hair tip: Don't over shampoo your hair. Shampooing everyday is not necessary as it tends to dry your scalp and hair. Whenever you wash, use a conditioner to replenish your scalp and hair after shampooing it.</p>
					</div>
					</div> <!-- media END -->

					<h2>Manicurist</h2>
					<div class="media">
					  <div class="pull-left sideImg">
					    <img class="media-object" src="../_img/cast_Nancy-v3.jpg" title="Lead Manicurist" alt="Lead Manicurist" />
					  </div>
					  <div class="media-body">
					    <h3 class="media-heading">Nancy - Lead Manicurist</h3>
					    <p>Bio coming soon.</p>
					</div>
					</div> <!-- media END -->
					<div class="media">
					  <div class="pull-left sideImg">
					    <img class="media-object" src="../_img/cast_Zoya-v3.jpg" title="Manicurist" alt="Manicurist" />
					  </div>
					  <div class="media-body">
					    <h3 class="media-heading">Zoya - Manicurist</h3>
					    <p>Bio coming soon.</p>
					</div>
					</div> <!-- media END -->
					<!-- <br />
					<h2>Receptionist</h2>
					<br />
					<div class="receptImg"><img src="../_img/cast_receptionist-v4.jpg" title="Christopher Styles Receptionist" alt="Christopher Styles Receptionist" /></div>
				-->

				</section>
		</div><!-- #contentWrap -->
		<div class="push"></div>
			</div><!-- #wrapper -->

			{{> footer}}



<!-- Script -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="../_js/min/script.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../_js/min/bootstrap.min.js"></script>
	</body>
</html>
