<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City ">
	<meta name="author" content="Christopher Styles Barber Spa">
	<meta charset="utf-8" />
	<title>HAIR COLOR - Barber Shop Spa - Cuts, Shaves, Hair Color, &amp; MAN-icures - Christopher Styles Barber Spa</title>

			<!-- Bootstrap -->
    <link href="../_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
	<link type="text/css" href="../_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper" class="container">

			{{> header}}
			{{> sub-nav}}
			<div class="contentWrap">
				<section class="colorPage">
					<h1>Hair Color</h1>
					<div class="callout">
					<p>Our expert colorists are here to provide you with a new look or just to update your look. Times may vary depending on color application and process time. Color consultation is highly recommended. We use Pravana color line. Pravana is a quality, professional line which provides various colors that range from subtle changes to vibrant colors. Our expert colorists have been trained and are here to help you find the ideal look for you.</p>
					</div>
					<p>Color consultation is required for color services including highlights.</p>
					<h3>All over color-one color, one process / <span>Starts at $70+</span></h3>
					<h3>Each extra ounce of color used / <span>$10</span></h3>
					<h3>Partial highlights / $85+</h3>
					<h3>Full highlights / $105+</h3>
					<h3>Root touch-up / $45</h3>
					<h3>Men's Gray Coverage / $45</h3>
					<hr />
					<p>Call the shop to ask about other services we offer such as color/highlights, blowdrys, and hair designs that are not available through Online Booking.
					Go to <a href="/barber-spa-services/">All Services</a> page for the complete pricing list.</p>

				</section>
		</div><!-- #contentWrap -->
		<div class="push"></div>
			</div><!-- #wrapper -->

			{{> footer}}

<!-- Script -->
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="../_js/script.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../_js/bootstrap.min.js"></script>
	</body>
</html>
