<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City ">
	<meta name="author" content="Christopher Styles Barber Spa">
	<meta charset="utf-8" />
	<title>CUTS - Barber Shop Spa - Cuts, Shaves, Hair Color, &amp; MAN-icures - Christopher Styles Barber Spa</title>

			<!-- Bootstrap -->
    <link href="../_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
	<link type="text/css" href="../_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper" class="container">
			{{> header}}
			{{> sub-nav}}
			<div class="contentWrap">
			<section class="cutPage">
				<h1>Cuts</h1>
				<div class="callout">
				<p>Our cuts are executed with the highest quality clippers and shears. Our staff has over 75 years of combined experience. Our expert stylists are here to make you look and feel your best in a relaxed and comfortable environment.</p>
				</div>
				<h2>Gentlemen</h2>
				<p><strong>Cstyle / $33</strong> - Men who have hair length above their shoulders will be exclusive for this cut. This includes a shampoo, line-up, straight razor neck shave, and a hot towel.</p>
				<p><strong>The Leading Man / $44</strong> - Men who have hair below their shoulders. Includes a shampoo and hot towel.</p>
				<p><strong>The Grip / $26</strong> - Same length all the way around. Includes Shampoo, line-up, straight razor neck shave, and a hot towel.</p>
				<p><strong>Beard/Mustache Trim / $12</strong></p>
				<p><strong>Neck Clean up / $12</strong></p>
				<h3>Razor line up / <span>$14</span></h3>
				<h2>Ladies</h2>
				<p><strong>Vixen (Haircut, Shampoo, Blow-Dry) / $55 </strong></p>
				<p><strong>Bang Trim / $12</strong></p>
				<p><strong>Blow Out / Starts at $44+</strong></p>
				<p><strong>Special Style and Up-do's / $60+</strong> - Consultation required.</p>
				<h2>Kids</h2>
				<p><strong>Young Gentlemen / $24</strong> - Exclusive for kids 10 and under; includes a shampoo.</p>
				<p><strong>Young Lady / $27</strong> - Exclusive for kids 10 and under; includes a shampoo.</p>
				<hr />
				<p>Call the shop to ask about other services we offer such as color/highlights, blowdrys, and hair designs that are not available through Online Booking.
					Go to <a href="/barber-spa-services/">All Services</a> page for the complete pricing list.</p>
			</section>
		</div><!-- #contentWrap -->
		<div class="push"></div>
			</div><!-- #wrapper -->
		{{> footer}}
<!-- Script -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="../_js/min/script.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../_js/min/bootstrap.min.js"></script>
	</body>
</html>
