<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City ">
	<meta name="author" content="Christopher Styles Barber Spa">
	<meta charset="utf-8" />
	<title>Barber Shop Spa - Cuts, Shaves, Hair Color, &amp; MAN-icures - Christopher Styles Barber Spa</title>

		<!-- Bootstrap -->
    <link href="_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
	<link type="text/css" href="_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
		<div id="wrapper" class="container">
		{{> header}}
    <div class="contentWrap homePage">
			<!-- slideShow -->
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
				  <div class="item active">
				       <img src="_img/cs-homeSlide-v1.jpg" alt="Chris Styles Barber Spa">
					</div><!-- item -->
					 <div class="item">
				       <img src="_img/cs-homeSlide-v2.jpg" alt="Chris Styles Barber Spa">
					</div><!-- item -->
          <div class="item">
            <a href="/cast-cstyles-barber-spa/"><img src="_img/cs-homeSlide-17.jpg" alt="Meet The Cast! Manicurist"></a>
          </div><!-- item -->
            <div class="item">
				      <a href="/cast-cstyles-barber-spa/"><img src="_img/cs-homeSlide-18.jpg" alt="Meet The Cast! Hairstylist"></a>
				    </div><!-- item -->
            <div class="item">
				      <img src="_img/cs-homeSlide-v3.jpg" alt="Chris Styles Barber Spa">
				    </div><!-- item -->
				    <!--<div class="item">
				       <a href="*" data-toggle="modal" data-target="#myModal"><img src="_img/cs-homeSlide-v6.jpg" alt="C-Styles Barber Spa Commercial"></a>
						</div> item -->
			  </div> <!-- carousel-inner END -->
			</div> <!-- carousel-example-generic END -->
			<!-- slideShow END -->
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			      </div>
			      <div class="modal-body video-container">
			       <iframe width="560" height="315" src="//www.youtube.com/embed/CxIynBXgITk?rel=0" frameborder="0" allowfullscreen></iframe>
			      </div>
			      </div>
			  </div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="eModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			      </div>
			      <div class="modal-body video-container">
			       <img src="_img/rdConst.jpg" alt="C-Styles Barber Spa - road construction on Whitsett Ave">
			      </div>
			      </div>
			  </div>
			</div>
				<section class="intro">
					<article class="row">
					<div class="">
            <div class="bookNowBox">
              <script type="text/javascript" src="https://booksy.com/widget/code.js?id=406720&country=us&lang=en"></script>
            </div>
					</div>
          </article>
				</section>
				<div class="row promoPanels">
						<article class="col-md-6 events">
						<h2>Events<span>+</span></h2>
							<div class="promoBox">
                {{#each event}}
                  <h3>{{title}}</h3>
							    <p>{{text}}</p>
                  <hr />
                {{/each}}
                <!-- <a href="/barber-spa-polices/">COVID-19 Guidance &amp; Polices</a> -->
							</div>
						</article> <!-- events END -->
						<article class="col-md-6 padding promo">
							<h2>Information<span>+</span></h2>
              <div class="promoBox">
                {{#each promo}}
                <h3>{{title}}</h3>
                <p>{{text}}</p>
                {{/each}}
							</div>
						</article> <!-- promo END -->
					</div> <!-- row END -->
				<section class="socialWidgets">
					<div class="row followInstagram">
					<h2>Follow Us on INSTAGRAM<span>+</span></h2>
					<article class="instagramBox">
            <div class="clearfix">
    				  <ul id="instafeed" class='instPhotos'></ul>
    				</div>
            <a target="_blank" href="https://www.instagram.com/c.stylesbarberspa/">View more Instagram photos</a>
          </article> <!-- InstagramBox END -->
					</div>
					<div class="row">
						<article class="col-md-6 followTwitter">
						<h2>Follow Us on TWITTER<span>+</span></h2>
							<div class="twitterBox">
								<div id="twitterWideget">
									<a class="twitter-timeline" href="http://twitter.com/StylesBarberSpa" data-widget-id="289889225988505600">Tweets by @StylesBarberSpa</a>
								</div> <!-- twitterWideget END -->
							</div>
						</article> <!-- twitterBox END -->
						<article class="col-md-6 padding followFacebook">
							<h2>Like Us on FACEBOOK<span>+</span></h2>
							<div class="facebookBox">
								<div id ="fbDesktop" class="fb-like-box" data-href="http://www.facebook.com/ChristopherStylesBarberSpa" data-width="370" data-show-faces="true" data-stream="true" data-header="true"></div>
								<p class="FBwarning" >Please <a href="https://www.facebook.com/" target="_blank">LOGIN</a> to your Facebook to see posts</p>
							</div>
						</article> <!-- facebookBox END -->
					</div> <!-- row END -->
				</section> <!-- socialInfo END -->



		</div><!-- #contentWrap -->
		<div class="push"></div>
			</div><!-- #wrapper -->

			{{> footer}}



	<!-- Script Social -->
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=426981267318950";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


	<!-- Script -->

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="_js/min/script.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="_js/min/bootstrap.min.js"></script>
</body>
</html>
