<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City ">
	<meta charset="utf-8" />
	<title>PACKAGES - Barber Shop Spa - Cuts, Shaves, Hair Color, &amp; MAN-icures - Christopher Styles Barber Spa</title>

			<!-- Bootstrap -->
    <link href="../_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
	<link type="text/css" href="../_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper" class="container">
			{{> header}}
			{{> sub-nav}}
			<div class="contentWrap">
				<section class="packagesPage">
					<h1>Nail &amp; Waxing Spa Services</h1>
					<div class="callout">
					<p>All prices are determined by each individual stylist. Prices may vary depending on your stylist experience.</p>
				</div>
					<p><a href="/barber-spa-polices/">New polices effective June 1st 2019</a></p>
					<h2>Nail Services</h2>
					<p><strong>Manicure</strong></p>
					<p><strong>Deluxe Manicure</strong></p>
					<p><strong>Spa Pedicure </strong>(sea salt scrub + hot towel) </p>
					<p><strong>Deluxe Pedicure </strong>(Callus removal + Sea Salt scrub +hot towel)</p>
					<p><strong>Combo Spa Mani/Pedi</strong></p>
					<p><strong>Deluxe Spa Mani/Pedi </strong>(Callus removal + Sea Salt scrub +hot towel)</p>
					<p><strong>Gel Manicure</strong></p>
					<p><strong>Gel Pedi</strong></p>
					<p><strong>Deluxe Gel Pedi </strong>(callus removal +sea salt scrub + hot towel)</p>
					<p><strong>Acrylic Set/Refill</strong></p>
					<p><strong>Powder Gel Set/Refill</strong></p>
					<p><strong>Pink &amp; White/Refill</strong></p>
					<p><strong>Silk Wrap Set/Refill</strong></p>
					<p><strong>Add on:</strong></p>
					<p><strong>Cut down</strong></p>
					<p><strong>Buff &amp; Shine</strong></p>
					<p><strong>French tip</strong></p>
					<p><strong>Color Change Hand</strong></p>
					<p><strong>Color Change Feet</strong></p>
					<p><strong>Nail fix</strong></p>
					<p><strong>Gel/Acrylic Removal</strong></p>
					<h2>Waxing Services</h2>
					<p><strong>Eyebrow</strong></p>
					<p><strong>Upper Lip</strong></p>
					<p><strong>Sideburns</strong></p>
					<p><strong>Eyebrow, Upper lip + Chin Combo</strong></p>
					<p><strong>Chin</strong></p>
					<p><strong>Full Face Wax</strong></p>
					<p><strong>Under Arm</strong></p>
					<p><strong>Full Arm</strong></p>
					<p><strong>Half Arm</strong></p>
					<p><strong>Full Leg</strong></p>
					<p><strong>Half Lower Leg</strong></p>
					<p><strong>Half Upper Leg</strong></p>
					<p><strong>Back/Chest</strong></p>
					<p><strong>Facial (Cleansing)</strong></p>
					<p><strong>Women Only:</strong></p>
					<p><strong>Bikini Line</strong></p>
					<p><strong>Brazilian Wax</strong></p>
					<hr />
				</section>
		</div><!-- #contentWrap -->
		<div class="push"></div>
			</div><!-- #wrapper -->
			{{> footer}}
<!-- Script -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="../_js/min/script.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../_js/min/bootstrap.min.js"></script>
	</body>
</html>
