<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City ">
	<meta name="author" content="Christopher Styles Barber Spa">
	<meta charset="utf-8" />
	<title>NEWS - Best Gentleman - The Barber Review 2012 - Barber Shop Spa - Christopher Styles Barber Spa</title>

			<!-- Bootstrap -->
    <link href="../../_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
	<link type="text/css" href="../../_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper" class="container">

			{{> header}}
				{{> sub-nav}}
			<div class="contentWrap">
				<section class="newsPage">
					<h1>News</h1>

					<h2>BestGentleman - The Barber Review, Christopher Styles Barber Spa</h2>

					<p><strong>BESTGENTLEMAN</strong> - by Nicholas Lucin</p>

					<p>October 18, 2012, New to Los Angeles, but not to the art of gentleman’s grooming is Christopher Styles Barber Spa.  A one stop shop, for men of all ages and walks of life to enjoy the luxuries of personal grooming at a fair price.  Chris’s goal was to open, “…a nice modern shop for men to come relax and feel comfortable…” and he has accomplished just that.</p>

					<p>Upon entering the Barber Spa, I was greeted by Chris himself.  As we made our way over to his station, he pointed out the details of the shop, additionally giving me a brief history about his vision.  As I sat down, I could not help but take note of how comfortable the chair felt.  Chris commented on it, describing how he took pride in selecting such a seat to ensure the comfort of his clients.</p>

					<p>Also of note is the dark wood flooring which is in tune with the tables at each Stylist’s station, nicely contrasting the light grey walls throughout.  There is a wonderful flow in the design of the shop which mimics the attention to detail in every service provided by Chris and his friendly staff.</p>

					<p>One such service, is the straight razor shave, which I had the privilege of experiencing.  The entire service was outstanding.  From the hot towel, to the warm lather, to the shave itself.  It was nothing less than impressive. Chris’s ability to carefully maneuver the straight razor across the surface of my skin inspired confidence enough for me to feel relaxed and let him work his art.  It was the perfect start to my day and can certainly be the perfect start to yours.</p>

					<p>Christopher Styles Barber Spa is the place to experience that and much more in a clean and comfortable environment.  So, whether you live in the valley or are just passing through, make sure to stop by for a service.  The shop is conveniently located at 4815 Whitsett Ave. Valley Village, CA.  And, with an abundance of parking available in the lot, you can just enjoy your stress free visit.</p>

					<p>Schedule an appointment today by calling 818.766.7900 and prepare yourself for a great service that is guaranteed to bring you back again and again.</p>

					<p>For more info check out cstylesbarberspa.com and follow on Twitter @cstylesbarberspa</p>


				</section>
			</div><!-- #contentWrap -->
		<div class="push"></div>
			</div><!-- #wrapper -->
{{> footer}}
<!-- Script -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="../../_js/script.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../_js/bootstrap.min.js"></script>
	</body>
</html>
