<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City ">
	<meta name="author" content="Christopher Styles Barber Spa">
	<meta charset="utf-8" />
	<title>NEWS - Best of Valley Village Award 2014 - Barber Shop Spa - Christopher Styles Barber Spa</title>

			<!-- Bootstrap -->
    <link href="../../_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
	<link type="text/css" href="../../_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper" class="container">

			{{> header}}
			{{> sub-nav}}
			<div class="contentWrap">
				<section class="newsPage">
					<h1>News</h1>
					<h2>Christopher Styles Barber Spa/ Barbershop Receives 2014 Best of Valley Village Award</h2>
					<p>Valley Village Award Program Honors the Achievement</p>

					<p>VALLEY VILLAGE April 23, 2014 -- Christopher Styles Barber Spa/ Barbershop has been selected for the 2014 Best of Valley Village Award in the Barber Shop category by the Valley Village Award Program.</p>

					<p>Each year, the Valley Village Award Program identifies companies that we believe have achieved exceptional marketing success in their local community and business category. These are local companies that enhance the positive image of small business through service to their customers and our community. These exceptional companies help make the Valley Village area a great place to live, work and play.</p>

					<p>Various sources of information were gathered and analyzed to choose the winners in each category. The 2014 Valley Village Award Program focuses on quality, not quantity. Winners are determined based on the information gathered both internally by the Valley Village Award Program and data provided by third parties.</p>

					<p>About Valley Village Award Program</p>

					<p>The Valley Village Award Program is an annual awards program honoring the achievements and accomplishments of local businesses throughout the Valley Village area. Recognition is given to those companies that have shown the ability to use their best practices and implemented programs to generate competitive advantages and long-term value.</p>

					<p>The Valley Village Award Program was established to recognize the best of local businesses in our community. Our organization works exclusively with local business owners, trade groups, professional associations and other business advertising and marketing groups. Our mission is to recognize the small business community's contributions to the U.S. economy.</p>

					<p>SOURCE: Valley Village Award Program</p>
				</section>
			</div><!-- #contentWrap -->
		<div class="push"></div>
			</div><!-- #wrapper -->
		{{> footer}}

<!-- Script -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="../../_js/script.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../_js/bootstrap.min.js"></script>
	</body>
</html>
