<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City">
	<meta name="author" content="Christopher Styles Barber Spa">
	<meta charset="utf-8" />
	<title>PHOTOS - Barber Shop Spa - Cuts, Shaves, Hair Color, &amp; MAN-icures - Christopher Styles Barber Spa</title>

			<!-- Bootstrap -->
			 <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"> -->
		 <link href="../_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
		<link type="text/css" href="../_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
	<body>
		<div id="wrapper" class="container">
			{{> header}}
			{{> sub-nav}}
			<div class="contentWrap">
				<h2>Photos by Innis Casey Photography</h2>
				<div class="photo-gallery">
	          <div class="row photos">
	                <div class="col-sm-4"><a href="/_img/cs-photo-6867.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-6867.jpg"></a></div>
	                <div class="col-sm-4"><a href="/_img/cs-photo-6945.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-6945.jpg"></a></div>
	                <div class="col-sm-4"><a href="/_img/cs-photo-7023.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7023.jpg"></a></div>
	                <div class="col-sm-4"><a href="/_img/cs-photo-7068.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7068.jpg"></a></div>
	                <div class="col-sm-4"><a href="/_img/cs-photo-7080.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7080.jpg"></a></div>
									<div class="col-sm-4"><a href="/_img/cs-photo-7209.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7209.jpg"></a></div>
									<div class="col-sm-4"><a href="/_img/cs-photo-7254.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7254.jpg"></a></div>
							  	<div class="col-sm-4"><a href="/_img/cs-photo-7284.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7284.jpg"></a></div>
									<div class="col-sm-4"><a href="/_img/cs-photo-7288.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7288.jpg"></a></div>
									<div class="col-sm-4"><a href="/_img/cs-photo-7346.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7346.jpg"></a></div>
									<div class="col-sm-4"><a href="/_img/cs-photo-7380.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7380.jpg"></a></div>
									<div class="col-sm-4"><a href="/_img/cs-photo-7512.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7512.jpg"></a></div>
									<div class="col-sm-4"><a href="/_img/cs-photo-7557.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7557.jpg"></a></div>
									<div class="col-sm-4"><a href="/_img/cs-photo-7657.jpg" data-lightbox="photos"><img class="img-fluid" src="/_img/cs-photo-7657.jpg"></a></div>
							</div>
				   </div>
				</div>
		<div class="push"></div>
			</div><!-- #wrapper -->
			{{> footer}}

<!-- Script -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);
</script>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="../_js/min/script.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../_js/min/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
	</body>
</html>
