<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Christopher Styles Barber Spa is created to provide the modern gentleman a sanctuary. An oasis where you can come relax, hang out and refine your appearance. Our full service barbershop not only offers expert cuts and fades, but also straight razor face shaves, color services and MAN-icures. When you step into this elegant refuge, you can expect more than just a cut, you can expect to feel and look the way a modern man or woman should.">
	<meta name="keywords" content="men barber, women hair, luxury barber, spas for men, kids barber shop, barber shops los angeles, barber spa, salon spa, barbershop, barbershop haircuts, mens haircuts, classic barbershop, face shaves, barbershop Valley Village, barbershop Sherman Oaks, Barbershop Studio City ">
	<meta charset="utf-8" />
	<title>SERVICES - Barber Shop Spa - Cuts, Shaves, Hair Color, &amp; MAN-icures - Christopher Styles Barber Spa</title>

			<!-- Bootstrap -->
    <link href="../_css/min/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
	<link type="text/css" href="../_css/min/main.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper" class="container">
			{{> header}}
			{{> sub-nav}}
			<div class="contentWrap">
				<section class="servicesPage">
			<h1>Services</h1>
			<h2>Men</h2>
			<h3>Cstyle / <span>$30</span></h3>
			<p>Men who have hair length above their shoulders will be exclusive for this cut. This includes a shampoo, line-up, straight razor neck shave, and a hot towel.</p>
			<h3>The Leading Man / <span>$40</span></h3>
			<p>Men who have hair below their shoulders. Includes a shampoo and hot towel.</p>
			<h3>The Grip / <span>$24</span></h3>
			<p>Same length all the way around. Includes shampoo, line-up, straight razor neck shave, and a hot towel.</p>
			<h3>Beard/Mustache Trim / <span>$10</span></h3>
			<h3>Neck Clean Up / <span>$10</span></h3>
			<h3>Straight-Razor Face/Head Shave / <span>$30</span></h3>
			<h3>Executive Shave / <span>$45</span></h3>
			<p>Enjoy a relaxing 60 minute straight razor face shave using the luxury skin care brand, Arbonne. This shave also includes invigorating lavender infused hot towels and a rejuvenating facial treatment.</p>
			<h3>Hair design / <span>$12+</span></h3>
			<h2>Women</h2>
			<h3>Vixen (Haircut, Shampoo, Blow-Dry) / <span>$50</span></h3>
			<p>Starting with an invigorating shampoo, leading to the perfect haircut and finishing with a silky smooth blow out. You will leave feeling like a Hollywood vixen!</p>
			<h3>Bang Trim / <span>$10</span></h3>
			<h3>Blow Out / <span>Starts at $40+</span></h3>
			<h3>Special Style and Up-do's / <span>$60</span> consultations required</h3>
			<h2>Kids</h2>
			<p>Exclusive for kids 10 and under; includes a shampoo.</p>
			<h3>Young Gentlemen / <span>$22</span></h3>
			<h3>Young Lady / <span>$25</span></h3>
			<h2>Color</h2>
			<p>Color consultation is required for color services including highlights.</p>
			<h3>All Over / <span>$75+</span></h3>
			<p>One color, all over, in one process</p>
			<h3>Each extra ounce of color used / <span>$10</span></h3>
			<h3>Partial highlights / $95+</h3>
			<h3>Full highlights / $115+</h3>
			<h3>Root touch-up / $55</h3>
			<h3>Balayage / <span>$150+</span></h3>
			<p>Achieve natural and low maintenance highlights using a free hand French technique to apply color rather than using traditional foils.</p>
			<h3>Color Correction / <span>$150 Per Hour</span></h3>
			<p>If your unhappy with a previous color service and want to change your look, color correction is the way to go. *Consultation is Required.</p>
			<h3>Men's Gray Coverage / $35</h3>
			<hr />
				<p>Call the shop to ask about other services we offer such as color/highlights, blowdrys, and hair designs that are not available through Online Booking.</p>
		</section>
		</div><!-- #contentWrap -->
		<div class="push"></div>
			</div><!-- #wrapper -->
		{{> footer}}

<!-- Script -->

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37164123-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script  type="text/javascript" src="../_js/script.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../_js/bootstrap.min.js"></script>
	</body>
</html>
