<footer>
  <div class="row footInfoCol">
    <div class="col-md-3 footCol footCol1">
  	  	<address>
  		  	<p><span>Christopher Styles Barber Spa</span></p>
  			<p><a href="https://www.google.com/maps/preview?client=safari&oe=UTF-8&q=4815+Whitsett+Ave+Valley+Village+CA+91607&ie=UTF-8&hq=&hnear=0x80c2961ad7c7aad1:0x499be7c91a782694,4815+Whitsett+Ave,+Valley+Village,+CA+91607&gl=us&ei=vxFpUPLJFujmiAKS0IGwDA&ved=0CCEQ8gEwAA&source=newuser-ws">
  			4815 Whitsett Ave<br />
  			Valley Village CA 91607</a></p>
  			<p>ph: 818-766-7900</p>
  			<p>email: <a href="mailto:info@CStylesBarberSpa.com">info@CStylesBarberSpa.com</a><p>
  	  	</address>
    </div>
    <div class="col-md-3 footCol footCol2">
    	<p><span>Hours</span></p>
    	<p>MON 11-5, TUES-FRI 9-8</p>
  	<p>SAT 9-7, SUN CLOSED</p>
    </div>
    <div class="col-md-3 footCol footCol3">
    	<p><span>What We Do</span></p>
    	<p><a href="/barber-spa-hair-cuts/">Cuts</a></p>
      <p><a href="/barber-spa-shaves/">Shaves</a></p>
      <p><a href="/barber-spa-hair-color/">Hair Color</a></p>
      <p><a href="/barber-spa-hair-manicures/">MAN-icures &amp; Pedicures</a></p>
    </div>
    <div class="col-md-3 footCol footCol4">
    	<p><span>Follow Us</span></p>
    	<p><a href="http://www.facebook.com/pages/Christopher-Styles-Barber-Spa/162604593863358" target="_blank">Facebook</a></p>
  	<p><a href="http://twitter.com/StylesBarberSpa" target="_blank">Twitter</a></p>
  	<p><a href="https://www.instagram.com/c.stylesbarberspa/" target="_blank">Instagram</a></p>
  	<p><a href="http://www.yelp.com/biz/christopher-styles-barber-spa-valley-village-2" target="_blank">Yelp</a></p>
    </div>
  </div>
  <div class="row footLinks">
  	<div class="col-md-12">
  		<ul class="nav navbar-nav">
  				<li><a href="/barber-spa-services/">All Services</a></li>
  				<li><a href="/barber-spa-nail-waxing/">Nail &amp; Waxing</a></li>
  			    <li><a href="/cast-cstyles-barber-spa/">Cast</a></li>
  			    <li><a href="/photos-cstyles-barber-spa/">Photos</a></li>
  			    <li><a href="/news-cstyles-barber-spa/">News</a></li>
  			    <li><a href="/about-cstyles-barber-spa/">About</a></li>
            <li><a href="/barber-spa-polices/">Polices</a></li>
    			  <li><a href="/contact-cstyles-barber-spa/">Contact</a></li>
  				</ul>
  	<div class="col-md-12" id="copyRight"><small><script type="text/javascript"> now=new Date(); year=now.getFullYear(); </script>&copy; <script type="text/javascript"> document.write(year);</script> Christopher Styles Barber Spa. All Rights Reserved. Web Design by <a href="http://lisasheadesign.com/" target="_blank">Lisa Shea Design</a></small></div>
  	</div>
  </div>
</footer>
