<header>
<div style="position: absolute; z-index: 1; padding-bottom:1000px;">
<div style="color: black; background:#ffffff; padding: 20px;">
<h3 style="color: black;">Christopher Styles Barber Spa - TEMPORARY CLOSING</h3>
<p>Over the past few weeks, we have been working tirelessly to combat the evolving COVID-19 pandemic. We have monitored and mirrored local, state, and federal health guidelines by taking temperatures, providing screens for clients and mask.</p>
<p>We want to let you know that due to the continuing uncertainty surrounding COVID-19 and the escalation of state declaration of Governor Newsom, we are temporarily closing our salon effective Tuesday, July 14, 2020, until further notice.</p>
<p>When we do see you again, we understand that you will likely need a haircut, styling, or a color refresh. We would be honored to welcome you back so you can enjoy a moment for yourself with one of our amazing stylists.</p>
<p>Watch for updates from us via our website.  A heartfelt thank you for your ongoing support and understanding during these remarkable times; it means a tremendous amount to our  stylist.</p>
<p>We look forward to seeing you soon.
</div>
  </div>
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       <!--  <div class="logoHeader">Logo</div>  -->
      </div>
         <div class="logoHeader"><a href="/"><img src="http://cstylesbarberspa.com/_img/cstylesLogo3b.jpg" class="img-responsive" alt="Christopher Styles Barber Spa"></a></div>
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  <ul class="nav navbar-nav">
          	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="servicesLink">Services <span class="caret"></span></a>
          		<ul class="dropdown-menu">
          			 <li><a href="/barber-spa-services/">All Services</a></li>
          			 <li class="divider"></li>
          			 <li><a href="/barber-spa-hair-cuts/">Cuts</a></li>
          			 <li><a href="/barber-spa-shaves/">Shaves</a></li>
          			 <li><a href="/barber-spa-hair-color/">Hair Color</a></li>
                 <li><a href="/barber-spa-nail-waxing/">Spa</a></li>
          		</ul>
          	</li>
          	<li><a href="/barber-spa-nail-waxing/">Nail &amp; Waxing</a></li>
          	<li><a href="/cast-cstyles-barber-spa/">Cast</a></li>
          	<li><a href="/photos-cstyles-barber-spa/">Photos</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="newsLink">News <span class="caret"></span></a>
          		<ul class="dropdown-menu">
          			<li><a href="/news-cstyles-barber-spa/">All News</a></li>
          			<li class="divider"></li>
          			<li><a href="/news-cstyles-barber-spa/San-Fernando-Valley-Business-Journal-2015/">San Fernando Valley Business Journal</a></li>
                <li><a href="/news-cstyles-barber-spa/Best-of-Valley-Village-Award-2014/">Best of Valley Village Award</a></li>
                <li><a href="/news-cstyles-barber-spa/BestGentleman-The-Barber-Review-2012/">BestGentleman - The Barber Review</a></li>
                <li><a href="http://abc.go.com/shows/celebrity-wife-swap/episode-guide/season-03/301-daniel-baldwinjermaine-jackson" target="_blank">C Styles on ABC Celebrity Wife Swap</a></li>
              </ul>
          	</li>
          	<li><a href="/about-cstyles-barber-spa/">About</a></li>
            <li><a href="/barber-spa-polices/">Polices</a></li>
            <li><a href="/contact-cstyles-barber-spa/">Contact</a></li>
  			   </ul>
  </nav>
</header>
