<header>
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       <!--  <div class="logoHeader">Logo</div>  -->
      </div>
         <div class="logoHeader"><a href="/"><img src="http://cstylesbarberspa.com/_img/cstylesLogo3b.jpg" class="img-responsive" alt="Christopher Styles Barber Spa"></a></div>
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  <ul class="nav navbar-nav">
          	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="servicesLink">Services <span class="caret"></span></a>
          		<ul class="dropdown-menu">
          			 <li><a href="/barber-spa-services/">All Services</a></li>
          			 <li class="divider"></li>
          			 <li><a href="/barber-spa-hair-cuts/">Cuts</a></li>
          			 <li><a href="/barber-spa-shaves/">Shaves</a></li>
          			 <li><a href="/barber-spa-hair-color/">Hair Color</a></li>
                 <li><a href="/barber-spa-nail-waxing/">Spa</a></li>
          		</ul>
          	</li>
          	<li><a href="/barber-spa-nail-waxing/">Nail &amp; Waxing</a></li>
          	<li><a href="/cast-cstyles-barber-spa/">Cast</a></li>
          	<li><a href="/photos-cstyles-barber-spa/">Photos</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="newsLink">News <span class="caret"></span></a>
          		<ul class="dropdown-menu">
          			<li><a href="/news-cstyles-barber-spa/">All News</a></li>
          			<li class="divider"></li>
          			<li><a href="/news-cstyles-barber-spa/San-Fernando-Valley-Business-Journal-2015/">San Fernando Valley Business Journal</a></li>
                <li><a href="/news-cstyles-barber-spa/Best-of-Valley-Village-Award-2014/">Best of Valley Village Award</a></li>
                <li><a href="/news-cstyles-barber-spa/BestGentleman-The-Barber-Review-2012/">BestGentleman - The Barber Review</a></li>
                <li><a href="http://abc.go.com/shows/celebrity-wife-swap/episode-guide/season-03/301-daniel-baldwinjermaine-jackson" target="_blank">C Styles on ABC Celebrity Wife Swap</a></li>
              </ul>
          	</li>
          	<li><a href="/about-cstyles-barber-spa/">About</a></li>
            <li><a href="/barber-spa-polices/">Polices</a></li>
            <li><a href="/contact-cstyles-barber-spa/">Contact</a></li>
  			   </ul>
  </nav>
</header>
